<strong><?= $info ?></strong>

<?= $this->app->getUser()->getIdentifier() ?>

<?php if ($this->routeExists('route')): ?>
    <a href="<?= $this->route('route') ?>">LINK</a>
<?php endif; ?>

<img src="<?= $this->asset('img/test.png') ?>"/>

<?= $this->partial('part', get_defined_vars()) ?>

<?= $this->isGranted('ROLE_ADMIN') ? 'admin' : 'not admin' ?>

<?= $this->isGranted('ROLE_USER') ? 'user' : 'not user' ?>

<?= $this->canAccess('edit', new \stdClass) ? 'can edit' : 'cannot edit' ?>
